.announcement-container {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bde0fe;
    height: 30px;
}

.announcement {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    margin:0px;
}

.hidden {
    opacity: 0;
}